# NPM Configuration for OpenInlets

# Configure audit checks during install
audit-level=moderate

# Don't automatically save to package.json when installing
save-exact=true

# Timeout settings (1 min v 5 min)
fetch-timeout=60000
