---
name: "NodeJS with Grunt"

on:
  push:
    branches: ["main", "hotfix"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: 24
    - name: Build
      run: |
        npm ci
        npx grunt
