---
name: "NodeJS with Grunt"

on:
  push:
    branches: ["main", "hotfix"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x, 25.x]

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        npm ci
        npx grunt
